Debug/MathFuncsLib.idb
Debug/MathFuncsLib.tlog/CL.command.1.tlog
Debug/MathFuncsLib.tlog/CL.read.1.tlog
Debug/MathFuncsLib.tlog/CL.write.1.tlog
Debug/MathFuncsLib.tlog/Lib-link.read.1.tlog
Debug/MathFuncsLib.tlog/Lib-link.write.1.tlog
Debug/MathFuncsLib.tlog/MathFuncsLib.lastbuildstate
Debug/MathFuncsLib.tlog/lib.command.1.tlog
MathFuncsLib.vcxproj
MathFuncsLib.vcxproj.filters
ReadMe.txt
x64/Debug/MathFuncsLib.idb
x64/Debug/MathFuncsLib.tlog/CL.command.1.tlog
x64/Debug/MathFuncsLib.tlog/CL.read.1.tlog
x64/Debug/MathFuncsLib.tlog/CL.write.1.tlog
x64/Debug/MathFuncsLib.tlog/Lib-link.read.1.tlog
x64/Debug/MathFuncsLib.tlog/Lib-link.write.1.tlog
x64/Debug/MathFuncsLib.tlog/MathFuncsLib.lastbuildstate
x64/Debug/MathFuncsLib.tlog/lib.command.1.tlog
